# SPDX-License-Identifier: GPL-2.0+
#
# ubase configuration
#

menuconfig UB_UBASE
		default n
		tristate "UBASE support"
		depends on UB_UBUS_BUS && UB_UBUS_USI
		depends on UB_UMMU_CORE_DRIVER
		help
		  This option enables support for the ubase module of Unifiedbus,
		  including support for getting resource and create auxiliary bus
		  for upper Unifiedbus modules like unic, udma and cdma.
		  Say 'Y' here if you want to enable Unifiedbus upper module.
